<div class="ng-gallery" *ngIf="showGallery">
    <div class="row">
        <div *ngFor="let i of images; let index = index" class="col-md-4 ng-thumb-container">
            <ng-container *ngIf="i && i.img">
                <img *ngIf="i.thumb" src="{{ i.thumb }}" class="ng-thumb" (click)="showModalGallery(index)"
                     alt="{{getAltDescriptionByIndex(index)}}"/>
                <img *ngIf="!i.thumb" src="{{ i.img }}" class="ng-thumb" (click)="showModalGallery(index)"
                     alt="{{getAltDescriptionByIndex(index)}}"/>
                <div class="ng-thumb-description" *ngIf="i.description">{{ i.description }}</div>
            </ng-container>
        </div>
    </div>
</div>